header.header
    a(href="/").header-title-link
        h1.header-title News Portal

    .header-main
        if !user
            +headerItem({href: "login", text: "Login"})
            +headerItem({href: "signup", text: "Sign up"})
        else
            - const email = (user.local && user.local.email) || (user.facebook && user.facebook.email);
                +headerItem({text: `Hello ${email}`, href: "profile"})
                +headerItem({href: "logout", text: "Log out"})