include ../mixins/mixins

html
    block vars

    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title=pageTitle
        link(rel="stylesheet", href="/main.css")
    body
        div#fb-root
            script(async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0&appId=2411305602419916&autoLogAppEvents=1")

        include ../components/header

        main
            h1=pageTitle

            if (errors && errors.length)
                each error in errors
                    .alert.alert-danger=error

            if (successMsgs && successMsgs.length)
                each successMsg in successMsgs
                    .alert.alert-success=successMsg

            block content

        include ../partials/scripts